<div class="container">
  <h2>WebSocket SIA</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Data Inclusão</th>
        <th>Data Expiração</th>
        <th>Hora</th>
        <th>Usuário</th>
        <th>Rota Microserviço</th>
        <th>Descrição</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itera sobre a lista de mensagens -->
      <tr *ngFor="let message of messages">
        <td>{{ message.eventId }}</td>
        <td>{{ message.dataInclusao }}</td>
        <td>{{ message.dataExpiracao }}</td>
        <td>{{ message.hora }}</td>
        <td>{{ message.idUsuario }}</td>
        <td>{{ message.rotaMicroservico }}</td>
        <td>{{ message.descricao }}</td>
        <td>{{ message.observacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
