<div class="container">
  <h2>WebSocket SIA</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Rota do Microserviço</th>
        <th>Descrição</th>
        <th>ID do Usuário</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      <!-- Verifica se a mensagem existe antes de exibir -->
      <tr>
        <td>{{ message?.RotaMicroservico || 'Não fornecido' }}</td>
        <td>{{ message?.Descricao }}</td>
        <td>{{ message?.IdUsuario }}</td>
        <td>{{ message?.Observacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
