<div class="container">
  <h2>WebSocket SIA</h2>

  <h4>
    <strong>Evento:</strong> {{ globalMessage?.eventId }} <br>
    <strong>Descrição:</strong> {{ globalMessage?.descricao }} <br>
    <strong>Observação:</strong> {{ globalMessage?.observacao }} <br>
    <strong>Status:</strong> {{ globalMessage?.status || 'N/A' }} <br>
    <strong>Data Última Importação:</strong> {{ globalMessage?.dataUltimaImportacao || 'N/A' }} <br>
    <strong>Hora Última Importação:</strong> {{ globalMessage?.horaUltimaImportacao || 'N/A' }} <br>
    <strong>Provável Horário Próxima Importação:</strong> {{ globalMessage?.provavelHorarioProximaImportacao || 'N/A' }}
  </h4>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Status</th>
        <th>Data Inclusão</th>
        <th>Data Expiração</th>
        <th>Hora</th>
        <th>Usuário</th>
        <th>Rota Microserviço</th>
        <th>Descrição</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itera sobre a lista de mensagens -->
      <tr *ngFor="let message of messages">
        <td>{{ message.eventId }}</td>
        <td>{{ message.status}}</td>
        <td>{{ message.dataInclusao }}</td>
        <td>{{ message.dataExpiracao }}</td>
        <td>{{ message.hora }}</td>
        <td>{{ message.idUsuario }}</td>
        <td>{{ message.rotaMicroservico }}</td>
        <td>{{ message.descricao }}</td>
        <td>{{ message.observacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
